.django-prose-editor-container {
  overflow: auto;
}

form .aligned .django-prose-editor-container trix-editor ul {
  margin-left: initial;
  padding-left: initial;
}

form .aligned .django-prose-editor-container trix-editor ol li,
form .aligned .django-prose-editor-container trix-editor ul li {
  list-style-position: inside;
}

form .aligned .django-prose-editor-container trix-editor ul li {
  list-style-type: initial;
}
