name: CI

permissions:
  contents: write
  pull-requests: write

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test-python:
    name: Test (Python)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - run: pipx install poetry==1.8.3
    - uses: actions/setup-python@v6
      with:
        python-version: '3.12'
        cache: poetry
    - run: poetry install
    - run: poetry run black --check .

  test-js:
    name: Test (JavaScript)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: '20.x'
        cache: yarn
    - run: yarn
    - run: yarn lint

  dependabot:
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    needs: [test-python, test-js]
    env:
      PR_URL: ${{github.event.pull_request.html_url}}
      GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
    steps:
      - run: gh pr review --approve "$PR_URL"
      - run: gh pr merge --auto --merge "$PR_URL"
